aiohttp
APScheduler
astroid
async-timeout
asyncpg
attrs
autopep8
certifi
chardet
Click
colorama
discord
discord.py
emoji
idna
isort
lazy-object-proxy
markovify>=0.9.3
mccabe
multidict
pipenv
pur
pycodestyle
pylint
pytz
six
typed-ast
tzlocal
Unidecode
virtualenv
virtualenv-clone
websockets
wrapt
yarl
pyowm==3.0.0